main {
    min-height: 80vh
}

.card-title {
    height: 2rem;
    width: '100%';
    overflow:auto;
}

.rating span {
   margin: 0.15rem;
}

h3 {
    padding-top: 0.3rem 0;
}

.imagetag {
    height: 80%;
    width: 100%;
}

